{
  "project_info": { "project_number": "REEMPLAZAR", "project_id": "REEMPLAZAR", "storage_bucket": "REEMPLAZAR.appspot.com" },
  "client": [{
    "client_info": { "mobilesdk_app_id": "REEMPLAZAR", "android_client_info": { "package_name": "com.moviliax.ruumruum.conductor" } },
    "api_key": [{ "current_key": "REEMPLAZAR" }]
  }],
  "configuration_version": "1"
}
